<section class="section-login">
    <div class="container container-body-login" >
        <div class="row">
            <img class="img-login-logo" src="assets/img/logo_veterinary_helper.PNG" >
        </div>
        <div class="row container-form-login">
            <h3>Inicio de Sesion:</h3>
            <form [formGroup]="formLogin" (ngSubmit)="iniciarSesion()" style="width: 100%;">
                <div class="form-group-row input-form-login">
                    <label style="font-weight: bold;" for="input-email">Email:</label>
                    <input type="email" id="input-email" class="form-control" formControlName="username" placeholder="Escriba su correo:" required>
                    
                </div>
                <div class="form-group-row input-form-login">
                    <label style="font-weight: bold;" for="input-password">Contraseña:</label>
                    <input type="password" id="input-password" class="form-control" formControlName="password"  placeholder="Escriba su contraseña" required>
                </div>
                
                <div style="text-align: center;">
                    <input style="margin-top: 10px;" class="btn btn-primary" type="submit" value="Iniciar Sesión">
                </div>
                        
                
            </form>
        </div>
        
    </div>
</section>


